<div>
  <h4 class="page_title text--capital">{{pageTitle}}</h4>
  
<ng-container *ngIf="liquidationObject">
  
  <div nz-row [nzGutter]="16" class="my-4">
    <div nz-col class="gutter-row" nzSpan="5">
      <!-- <input nz-input placeholder="large size"  /> -->
      <nz-input-group nzSize="large" [nzPrefix]="suffixIconSearch">
        <input type="text" nz-input placeholder="Search" [(ngModel)]="search_text"
          (ngModelChange)="changeSearch($event)" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <img src="assets/images/search.svg" width="20" height="20" alt="" srcset="">
      </ng-template>
    </div>
  </div>
  <div class="customtable_block">
    <table class="customtable mt-2">
      <thead>
        <tr>
          <th>
            &nbsp;
          </th>
          <th>Options</th>
          <th>Date Created</th>
          <th>Loan ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Payment Reference</th>
          <th>Liquidation Amount</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="allLiquidationData && allLiquidationData.length; else noLiquidation">
          <tr *ngFor="let liquidation of allLiquidationData; let i = index ">
            <td>{{i + 1}}</td>
            <td>
              <a class="button button--secondary button--sm" [routerLink]="['/liquidations/view', liquidation.id]">View</a>
            </td>
            <td>{{liquidation.datecreated  | date:'dd/MM/yyyy h:mm a'  }}</td>
            <td>{{liquidation.loan_id}}</td>
            <td>{{liquidation.firstname | titlecase }}</td>
            <td>{{liquidation.lastname | titlecase }}</td>
            <td>{{liquidation.reference }}</td>
            <td>{{liquidation.liquidationamount | currency:'₦'}}</td>
          </tr>
        </ng-container>
        <ng-template #noLiquidation>
          <tr>
            <td colspan="8">
              <div class="text--center p-5">
                No liquidations yet
              </div>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
  <div class="customtable_footer">
    <p class="paginate_text text--ash">
      Displaying&nbsp;<nz-input-number [(ngModel)]="pageSize" (ngModelChange)="changePage($event)" [nzMin]="1"
        [nzMax]="allLiquidation?.total" [nzStep]="1"></nz-input-number>&nbsp;out of {{this.allLiquidation?.total}}
      results
    </p>
    <div class="paginate">
      <span class="paginate_text">
        {{this.allLiquidation?.from}} - {{this.allLiquidation?.to}}
      </span>
      <div class="button-group">
        <button (click)="goPrevious()" class="button button_paginate_prev text--capital">
          <img src="assets/images/chevron-left.svg" alt="Previous" srcset="">
        </button>
        <button (click)="goNext()" class="button button_paginate_next text--capital">
          <img src="assets/images/chevron-right.svg" alt="Next" srcset="">
        </button>
      </div>
    </div>
  </div>
</ng-container>
</div>
