<div>
    <h4 class="page_title text--capital">repayments queue</h4>
    <div class="penalty">
        <div class="action-row mt-2">
            <div nz-row [nzGutter]="16">
              <div nz-col nzXs="8" nzLg="5">
                <nz-select (ngModelChange)="resetTable()" [(ngModel)]="type" nzSize="large" nzPlaceHolder="Repayemnt Type"
                  [nzSuffixIcon]="suffixBulkSelect">
                  <nz-option nzValue="1" nzLabel="RSP"></nz-option>
                  <nz-option nzValue="0" nzLabel="IPPIS"></nz-option>
                </nz-select>
              </div>
              <div nz-col nzXs="8" nzLg="5" class="gutter-row">
                <nz-input-group nzSize="large" [nzPrefix]="suffixIconSearch">
                  <input type="text" nz-input placeholder="Search" [(ngModel)]="search_text" (ngModelChange)="changeSearch($event)" />
                </nz-input-group>
                <ng-template #suffixIconSearch>
                  <img src="assets/images/search.svg" width="20" height="20" alt="" srcset="">
                </ng-template>
              </div>
              <div nz-col class="gutter-row">
                <button class="button button--secondary text--capital" (click)="listRepayments()">Fetch Results</button>
              </div>
            </div>
          </div>
          <ng-container *ngIf="repaymentsData">
            <div class="mt-5">
              <ng-container *ngIf="type == '1'">
                <table class="customtable">
                  <thead>
                    <tr>
                      <th>
                        &nbsp;
                      </th>
                      <th>Date</th>
                      <th>Loan ID</th>
                      <th>Amount</th>
                      <th>Mandate Reference</th>
                      <th>Transaction Reference</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngIf="repaymentsData && repaymentsData.length; else norepayments">
                      <tr *ngFor="let loan of repaymentsData; let index = index">
                        <td>
                            {{index + 1}}
                        </td>
                        <td>{{loan.created_at | date:'dd/MM/yyyy h:mm a'}}</td>
                        <td>{{loan.loanid}}</td>
                        <td>{{loan.amount | currency: '₦'}}</td>
                        <td>{{loan.mandatereference}}</td>
                        <td>{{loan.transactionreference}}</td>
                      </tr>
                    </ng-container>
                    <ng-template #norepayments>
                      <tr>
                        <td colspan="6" class="text--center">
                          No repayments yet
                        </td>
                      </tr>
                    </ng-template>
                  </tbody>
                </table>
              </ng-container>
              <ng-container *ngIf="type == '0'">
                <table class="customtable">
                  <thead>
                    <tr>
                      <th>
                        &nbsp;
                      </th>
                      <th>Date</th>
                      <th>Amount</th>
                      <th>IPPIS Number</th>
                      <th>Payment Date</th>
                      <th>Payment Description</th>
                      <th>Transaction Reference</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngIf="repaymentsData && repaymentsData.length; else norepayments">
                      <tr *ngFor="let loan of repaymentsData; let index = index">
                        <td>
                            {{index + 1}}
                        </td>
                        <td>{{loan.created_at | date:'dd/MM/yyyy h:mm a'}}</td>
                        <td>{{(loan.amount ? loan.amount: 0) | currency: '₦' }}</td>
                        <td>{{loan.ippisno ? loan.ippisno : 'None'}}</td>
                        <td>{{loan.payment_date}}</td>
                        <td>{{loan.description}}</td>
                        <td>{{loan.transactionreference ? loan.transactionreference : 'None'}}</td>
                      </tr>
                    </ng-container>
                    <ng-template #norepayments>
                      <tr>
                        <td colspan="8" class="text--center">
                          No repayments yet
                        </td>
                      </tr>
                    </ng-template>
                  </tbody>
                </table>
              </ng-container>
            </div>
            <div class="customtable_footer">
              <p class="paginate_text text--ash">
                Displaying&nbsp;<nz-input-number [(ngModel)]="pageSize" (ngModelChange)="changePage($event)" [nzMin]="1"
                  [nzMax]="repayments?.total" [nzStep]="1"></nz-input-number>&nbsp;out of {{this.repayments?.total}} results
              </p>
              <div class="paginate">
                <span class="paginate_text">
                  {{this.repayments?.from}} - {{this.repayments?.to}}
                </span>
                <div class="button-group">
                  <button (click)="goPrevious()" class="button button_paginate_prev text--capital">
                    <img src="assets/images/chevron-left.svg" alt="Previous" srcset="">
                  </button>
                  <button (click)="goNext()" class="button button_paginate_next text--capital">
                    <img src="assets/images/chevron-right.svg" alt="Next" srcset="">
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
    </div>
</div>


<ng-template #suffixBulkSelect>
  <img src="assets/images/chevron-down.svg" width="20" height="20" alt="" srcset="">
</ng-template>