<div>
  <h4 class="page_title text--capital">Expected Payment</h4>

  <div class="ippis">
    <nz-tabset (nzSelectChange)="changeIndex($event)">
      <nz-tab nzTitle="Upload Payment">
        <ng-template nz-tab>
          <div class="mb-5">
            <div class="mb-4">
              <button class="button button--secondary text--capital">upload payment</button>
            </div>
            <div nz-row [nzGutter]="[20]">
              <div nz-col nzSpan="6" class="gutter-row">
                <div class="card">
                  <div class="card-body">
                    <h4 class="text--primary text--large">{{ totalcount ? totalcount: 0 }}</h4>
                    <div class="border-top pt-3">
                      <p class="text-muted text--regular-alt text--capital"> Total Application</p>
                    </div>
                  </div>
                </div>
              </div>
              <div nz-col nzSpan="6" class="gutter-row">
                <div class="card">
                  <div class="card-body">
                    <h4 class="text--primary text--large">{{ totalcount ? totalcount: 0 }}</h4>
                    <div class="border-top pt-3">
                      <p class="text-muted text--regular-alt text--capital"> Total Amount</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <ng-container *ngIf="paymentsToUpload && paymentsToUpload.length">
            <button class="button button--secondary text--capital">send for processing</button>
            <table class="customtable mt-2">
              <thead>
                <tr>
                  <th>
                    &nbsp;
                  </th>
                  <th>Month</th>
                  <th>Year</th>
                  <th>IPPIS Number</th>
                  <th>Full Name</th>
                  <th>Loan Id</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="paymentsToUpload && paymentsToUpload.length; else noPamentsUploaded">
                    <tr *ngFor="let payment of paymentsToUpload; let i = index ">
                        <td>{{i + 1}}</td>
                        <td>{{getMonth()}}</td>
                        <td>{{defaultYear}}</td>
                        <td>{{payment.ippis_number}}</td>
                        <td>{{payment.full_name  | titlecase }} </td>
                        <td>{{payment.loan_id}}</td>
                        <td>{{payment.expected_amount | currency:'₦'}}</td>
                      </tr>
                </ng-container>
                <ng-template #noPamentsUploaded>
                    <tr>
                        <td colspan="7">
                            <div class="text--center p-5">
                                No payments uploaded yet
                            </div>
                        </td>
                    </tr>
                </ng-template>
              </tbody>
            </table>
          </ng-container>
        </ng-template>
      </nz-tab>
      <nz-tab nzTitle="View Payment">
        <ng-template nz-tab>
          <div>
            <div nz-row [nzGutter]="16" class="">
              <div nz-col class="gutter-row" nzSpan="14">
                <div class="card card_colored border-0">
                  <div nz-row [nzGutter]="[10, 10]" nzAlign="bottom">
                    <div nz-col nzSpan="9" class="gutter-row">
                      <label class="text--regular-alt text--deep-black mb-1 text--capital" for="searchdate">Date</label>
                      <input nzSize="large" [(ngModel)]="searchdate" id="searchdate" type="date" nz-input>
                    </div>
                    <div nz-col nzSpan="9" class="gutter-row">
                      <label class="text--regular-alt text--deep-black mb-1 text--capital" for="seacrhtext">Search
                        Text</label>
                      <input nzSize="large" [(ngModel)]="searchtext" id="seacrhtext" type="text" placeholder="Search..."
                        nz-input>
                    </div>
                    <div nz-col class="gutter-row">
                      <button (click)="searchPayments()" class="button button--secondary text--capital">
                        Fetch Results
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="customtable_block mt-5">
              <table class="customtable">
                <thead>
                  <tr>
                    <th>
                      &nbsp;
                    </th>
                    <th>Month</th>
                    <th>Year</th>
                    <th>IPPIS Number</th>
                    <th>Full Name</th>
                    <th>Loan Id</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                 <ng-container *ngIf="allPaymentsData && allPaymentsData.length; else noPaymentsReport">
                    <tr *ngFor="let payment of allPaymentsData; let i = index ">
                        <td>{{i + 1}}</td>
                        <td>{{payment.month}}</td>
                        <td>{{defaultYear}}</td>
                        <td>{{payment.ippis_number}}</td>
                        <td>{{payment.full_name  | titlecase }} </td>
                        <td>{{payment.loan_id}}</td>
                        <td>{{payment.expected_amount | currency:'₦'}}</td>
                      </tr>
                 </ng-container>
                 <ng-template #noPaymentsReport>
                     <tr>
                         <td colspan="7">
                            <div class="text--center p-5">
                                No payments yet
                            </div>
                         </td>
                     </tr>
                 </ng-template>
                </tbody>
              </table>
            </div>
            <div class="customtable_footer">
              <p class="paginate_text text--ash">
                Displaying&nbsp;<nz-input-number [(ngModel)]="pageSize" (ngModelChange)="changePage($event)" [nzMin]="1"
                  [nzMax]="allPayments?.total" [nzStep]="1"></nz-input-number>&nbsp;out of {{this.allPayments?.total}}
                results
              </p>
              <div class="paginate">
                <span class="paginate_text">
                  {{this.allPayments?.from}} - {{this.allPayments?.to}}
                </span>
                <div class="button-group">
                  <button (click)="goPrevious()" class="button button_paginate_prev text--capital">
                    <img src="assets/images/chevron-left.svg" alt="Previous" srcset="">
                  </button>
                  <button (click)="goNext()" class="button button_paginate_next text--capital">
                    <img src="assets/images/chevron-right.svg" alt="Next" srcset="">
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </nz-tab>
    </nz-tabset>
  </div>
</div>

<ng-template #noVerification>
  <tr>
    <td colspan="4">
      <div class="p-5 text--center">
        No data
      </div>
    </td>
  </tr>
</ng-template>
