@import '../../styles/abstract/variables';

.progress {
  height: 22px;
  width: 100%;
  background-color: #c9c9c9;
  position: relative;

  &:before {
    content: attr(data-label);
    font-size: 12px;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .value {
    display: inline-block;
    height: 100%;

    &--orange{
        background-color: $color-secondary;
    }
    &--blue{
        background-color: $color-primary;
    }
  }
}
